/* RESET VALUES*/

* {
    margin: unset;
    box-sizing:unset;
    padding: unset;
    font-size: unset;
    color: unset;
    text-decoration: unset;
}

html,body, main{
    height: 100%;
    box-sizing: border-box;
    
}

/* CSS for debugging

body * {
    border: 1px solid red;
    background-color: dimgray;
}*/

/* ----------------DESKTOP VIEW------------------------ */

/* COLOURS*/

.topBox--color, .midBox--color, .bottomBox--color {
    background-color: #000000;
}

.topBox__r1--color {
    background-color: #2D4059;
}

.topBox__r1Item--color {
    background-color: #EA5455;
}

.topBox__r2--color {
    background-color: #F07B3F;
}

.topBox__r2Item--color {
    background-color: #FED460;
}

.midBox__r1--color, .midBox__r1Elem1--color, .midBox__r1Elem2--color {
    background-color: #4E4E6A;
}

.midBox__r1Item--color  {
    background-color: #1F6CB0;
}

.midBox__r1LastI--color {
    background-color: #70A3C4;
}

.midBox__r2--color {
    background-color: #F73F52;
}

.midBox__r2Item--color {
    background-color: #FEEA85;
}

.bottomBox__row--color {
    background-color: #8F6D1C;
}



/* WIDTH, HEIGHT , MARGINS OF ELEMENTS*/

.topBox, .midBox,.bottomBox {
    width: 95%;
}

.topBox {
    height: 14rem;
}

.midBox {
    height: 17rem;
}

.bottomBox {
    height: 6rem;
}

/* topBox elements */

.topBox__r1, .topBox__r2 {
    width: 97%;
    height: 5rem;
}

.topBox__r1 {
    margin-bottom: 1rem;
}

.topBox__r1Item {
    width: 17%;
}

.topBox__r1ItemM {
    width: 60%;
}

.topBox__r2Item, .bottomBox__row { /* bottomBox too */
    width: 97%;
}

/* midBox */

.midBox__r1 {
    width: 60%;
    height: 14rem;
    margin-right: 1.7%;
}

.midBox__r2 {
    width: 35%;
    height: 14rem;
    padding-top: 1.6%;
}

.midBox__r1Item {
    width: 48%;
}

.midBox__r1Elem1,.midBox__r1Elem2 {
    width: 95%; 
}

.midBox__r1LastI {
    width: 95%;
}

.midBox__r2Item {
    width: 90%;
    margin-top: 2%;
}

/* Items height */

.topBox__r1Item,
.topBox__r1ItemM,
.topBox__r2Item,
.midBox__r1Item,
.midBox__r1LastI,
.midBox__r2Item,
.bottomBox__row {
    height: 2rem;
}

/* FLEXBOX MAIN */

main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly; 
    align-items: center;    
}

/* FLEXBOX TOPBOX */

.topBox {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.topBox__r1, .topBox__r2, .bottomBox { /* bottomBox too*/
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-evenly;
    align-items: center;
}

/* FLEXBOX MIDBOX */

.midBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.midBox__r1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.midBox__r1Elem1, .midBox__r1Elem2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.midBox__r2 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}


/* ----------------TABLET VIEW------------------------ */

@media screen and (max-width:1023px){

    .topBox {
        height: 12rem;
    }
    .midBox--color{
        background-color: #feff03; 
    }

    .midBox {
        height: 22rem;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .topBox__r1,
    .topBox__r2,
    .midBox__r1,
    .midBox__r2,
    .bottomBox__row { 
        width: 95%;
    }

    .topBox__r1, .topBox__r2, .bottomBox {
        height: 4rem;
    }

    .midBox__r1 {
        margin-right: 0;
        height: 11rem;
    }

    .midBox__r2 {
        height: 7rem;
    }

    .topBox__r1Item,
    .topBox__r1ItemM,
    .midBox__r1Item,
    .midBox__r1LastI,
    .midBox__r2Item,
    .topBox__r2Item,
    .bottomBox__row {
        height: 1.5rem;
    }

    .topBox__r1Item {
        width: 15%;
    }

    .topBox__r2Item,
    .midBox__r2Item{
        width:95%;
    }
   
}

/* ----------------MOBILE VIEW------------------------ */

@media screen and (max-width:600px) {

    main{
        padding: 2%;
    }
   
    .topBox {
        height: 16rem;
    }
    .topBox__r1 {
        height: 8rem;        
        flex-direction: column;
    }

    .topBox__r1,
    .topBox__r2,
    .midBox__r1,
    .midBox__r2,
    .bottomBox__row {
        width: 90%;
    }

    .topBox__r1Item,
    .topBox__r1ItemM,    
    .topBox__r2Item,
    .midBox__r1Item,
    .midBox__r2Item,
    .midBox__r1LastI {
        width: 90%;
    }

    .midBox {
        height: 23rem;
    }

    .midBox__r1Elem1,.midBox__r1Elem2 {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center; 
    }

    .midBox__r1Item {
        height: 1.5rem;
    }

    .midBox__r1 {
        height: 12rem;
    }

    .midBox__r2 {
        padding-top: 0;
        justify-content: space-evenly;
    }

    .midBox__r1Item {
        margin-top: 2%;
    }

}









       

