/* Reset values to get rid of browser's pre-set values*/

body,
body * {
    margin: unset;
    box-sizing: border-box;
    padding: unset;
    font-size: unset;
    color: unset;
    text-decoration: unset;
}

/* CSS for debugging*/

body * {
    border: 1px solid red;
}

main {
    height: 1000px;
    background-color: dimgray;
}


/* CSS for divs colours*/

.topBox--color, .midBox--color, .bottomBox--color {
    background-color: #000000;
}

.topBox__r1--color {
    background-color: #2D4059;
}

.topBox__r1Item--color {
    background-color: #EA5455;
}

.topBox__r2--color {
    background-color: #F07B3F;
}

.topBox__r2Item--color {
    background-color: #FED460;
}

.midBox__r1--color {
    background-color: #4E4E6A;
}

.midBox__r1Item--color {
    background-color: #1F6CB0;
}

.midBox__r1LastI--color {
    background-color: #70A3C4;
}

.midBox__r2--color {
    background-color: #F73F52;
}

.midBox__r2Item--color {
    background-color: #FEEA85;
}

.bottomBox__row--color {
    background-color: #8F6D1C;
}

/* Flex to Main */

main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly; 
    align-items: center;    
}

/* Size of the three principal divs and its elements */

.topBox, .midBox,.bottomBox {
    width: 95%;
}

.topBox, .midBox {
    height: 25rem;
}

.bottomBox {
    height: 6rem;
}

.topBox__r1, .topBox__r2 {
    width: 95%;
    height: 6rem;
}

.topBox__r1 {
    margin-bottom: 1rem;
}

.topBox__r1Item {
    width: 15%;
    height: 2rem;
}

.topBox__r1ItemM {
    width: 60%;
    height: 2rem;
}

.topBox__r2Item {
    width: 95%;
    height: 2rem;
}

/* Flexbox topBox and its elements */

.topBox {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.topBox__r1, .topBox__r2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-evenly;
    align-items: center;
}

/* Flexbox midBox and its elements */

.midBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.midBox__r1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.midBox__r1Item {

}

.midBox__r1LastI {
    
}

.midBox__r2 {

}

.midBox__r2Item {

}








       

